%h1 Create an event

.row
  = form_for @event, action: 'create', method: 'POST' do |f|
    = f.text_field :title, placeholder: 'Title', class: "large-4 columns"
    %br
    = f.text_field :body, placeholder: 'Body'
    %br
    = f.text_field :start_date, placeholder: 'Start Date'
    %br
    = f.text_field :end_date, placeholder: 'End Date'
    %br
    = f.text_field :start_time, placeholder: 'Start Time'
    %br
    = f.text_field :end_time, placeholder: 'End Time'
    %br
    = f.text_field :hash_tag, placeholder: 'Hash Tag'
    %br
    = f.submit 'Save this new event', class: "button disabled"

  = link_to 'Back Home', events_path(@event)
