- if user_signed_in?
  %h1
    = @event.title
  = @event.body
  %br
  = @event.start_date.strftime("%m/%d/%Y")

  %br
  = @event.end_date.strftime("%m/%d/%Y")
  %br
  = @event.start_time.strftime("%H:%M")
  %br
  = @event.end_time.strftime("%H:%M")
  %br
  %br
  -#
  -# - @instagram.each do |instagram|
  -#   = image_tag instagram.images.thumbnail.url
  = render template: 'comments/index'
  %br
  .menu
    %br
    = link_to 'Add Comment', new_event_comment_path(@event)
    %br
    = link_to 'Edit your event', edit_event_path(@event)
    %br
    = link_to 'Delete your event', @event, method: :delete
    %br
    = link_to 'Back Home', events_path(@event)
- else
  %h3 You must be signed in to see events!
